@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

body {
    background-color: #f7f8fb;
    font-family: "Ubuntu", sans-serif;
}

/*screen differentiatior*/
@media screen and (max-width: 600px) {
    .disallowed {
        display: none;
        visibility: hidden;
    }
    .allowed {
        max-width: 600px;
    }
}

@media screen and (min-width: 600px) {
    .disallowed {
        display: block;
        visibility: visible;
    }
    .allowed {
        display: none;
        visibility: hidden;
    }
}

/* Strict Screen */
.strict-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(1.95deg, #2bd6c1 38.84%, #5451e8 126.5%);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.strict-img {
    display: block;
    margin: 0 auto;
    width: 290px;
}

.strict-title {
    display: block;
    text-align: center;
    margin-top: 35px;
    font-size: 18px;
    font-family: "Nunito", sans-serif;
    color: white;
}

/* Preloader Screen */
.preloader-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f8fb;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity 0.3s;
}

.preloader-img {
    display: block;
    margin: 0 auto;
    width: 290px;
}

.preloader-title {
    display: block;
    text-align: center;
    margin-top: 35px;
    font-size: 15px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

/* Basic Fade */
.content {
    transition: opacity 0.3s;
}

/* login */
.log-bg {
    background: url("../images/background.png") no-repeat;
    background-size: 170% 70%;
    background-position-y: center;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(5px);
}

.log-content {
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.log-content-img {
    height: 75px;
    background-color: white;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    display: block;
    margin: 0 auto;
}

.log-content h1 {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #270949;
    margin-top: 8px;
    text-align: center;
}

.log-content button {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: block;
    margin: 120px auto 0 auto;
    padding: 11px 14px;
    height: 46px;
    text-transform: none;
    line-height: 26px;
    border-radius: 16px;
}

.log-google-icon {
    display: block;
    float: left;
    margin-right: 10px;
}

.log-content h2 {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #8a8a8a;
    margin: 146px 30px 0 30px;
    text-align: center;
}

.log-content > div > h2 > b {
    font-weight: 700;
}

/* Dashboard */
.dash-top {
    background-color: #4654a3;
    height: 180px;
}

#user-ava {
    margin-top: 38px;
    margin-left: 7px;
    max-height: 72px;
    border-radius: 10px;
}

.dash-greet {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    margin-top: 55px;
    margin-bottom: 0;
    margin-left: 20px;
}

#icon-bell {
    position: fixed;
    top: 30px;
    right: 25px;
}

#user-nick {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: white;
    margin-top: 0;
    margin-left: 20px;
}

.dash-user {
    display: inline-flex;
}

.dash-bottom {
    position: fixed;
    background-color: #f7f8fb;
    border-radius: 35px;
    top: 140px;
    left: 0;
    right: 0;
    bottom: 80px;
    overflow-y: scroll;
}

.dash-saldo {
    font-weight: 400;
    font-size: 20px;
    margin-top: 31px;
    margin-bottom: 8px;
    text-align: center;
}

.dash-saldo-a {
    font-weight: 700;
    margin-top: 0;
    font-size: 25px;
    text-align: center;
}

.dash-box {
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dash-box div {
    margin-top: 15px;
}

.dash-box h1 {
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    margin: 0;
}

.dash-box h2 {
    font-weight: 500;
    font-size: 17px;
    margin: 2px 0 15px 0;
}

.dash-navbar {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.dash-nav-content {
    margin-bottom: 0;
    height: 65px;
    line-height: 55px;
    background-color: white;
    box-shadow: 0px -3px 7px -1px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 10px;
}

.dash-fab {
    position: fixed;
    bottom: 85px;
    right: 35px;
    padding: 7px 7px 3px 7px;
    background-color: #4654a3;
    border-radius: 100%;
}

.dash-transaction {
    font-size: 20px;
    font-weight: 400;
}

.transaction-list {
    margin-bottom: 65px;
}

.transaction-empty {
    display: block;
    text-align: center;
    margin: 0 auto 80px 0;
}

.transaction-empty img {
    width: 250px;
    display: block;
    margin: 30px auto;
    opacity: 0.5;
}

.transaction-amount {
    font-size: 17px;
    text-align: right;
    min-width: 125px;
}

.transaction-name {
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
    margin-bottom: 5px;
    word-break: break-word;
}

.transaction-date {
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
}

/* Back Icon */
.back-icon {
    position: absolute;
    left: 20px;
    top: 30px;
}

.back-icon > box-icon {
    padding: 5px;
    background-color: #d8deff;
    border-radius: 100%;
}

/* Title */
.title-page {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 28px;
    display: block;
    text-align: center;
    margin-top: 38px;
}

/* Profile */
.profile-detail {
    display: flex;
    align-items: center;
    margin: 40px 0;
    justify-content: center;
}

#profile-ava {
    width: 72px;
}

#profile-nick {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin: 5px 10px;
}

#profile-mail {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 5px;
}

.profile-menu {
    border: 1px solid #c7c7c7;
    display: flex;
    padding: 20px 30px;
}

.profile-menu > div > h4 {
    font-size: 19px;
    margin-left: 15px;
    line-height: 0;
    margin: 0 15px;
    line-height: 130%;
    font-weight: 400;
}

/* Add page */
.add-banner {
    background-color: #4654a3;
    height: 155px;
    width: 100%;
    border-radius: 0 0 0 45px;
    padding-top: 20px;
    background-image: url(../images/background-add.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-blend-mode: soft-light;
    z-index: 3;
}

#add-form {
    margin-top: 25px;
}

/* Back Icon add*/
.back-add {
    position: absolute;
    left: 20px;
    top: 50px;
}

/* Title add */
.title-add {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 28px;
    display: block;
    text-align: center;
    margin: 25px auto 0 95px;
    color: white;
    width: 100px;
}

.add-topform {
    margin-top: 30px;
    margin-bottom: 0px;
}

.add-bottomform {
    margin: 15px 25px 30px 0;
}

/* Input color */
/* label focus color */
.input-field input:focus + label {
    color: #4654a3 !important;
}
/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #4654a3 !important;
    box-shadow: 0 1px 0 0 #4654a3 !important;
}

input[type]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #4654a3 !important;
    box-shadow: 0 1px 0 0 #4654a3 !important;
}

.chips.focus {
    border-bottom: 1px solid #9e9e9e;
    box-shadow: 0 1px 0 0 #ffffff;
}

.datepicker-date-display {
    background-color: #4654a3;
}

.datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
    color: #4654a3;
}

.datepicker-table td.is-selected {
    background-color: #4654a3;
}

.dropdown-content li > a,
.dropdown-content li > span {
    color: #4654a3;
}

/* Rekapitulasi */
.recap-subtitle {
    font-weight: 400;
    font-size: 20px;
}
